<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<false/>
				<key>FixRegions</key>
				<false/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Change  Mutex (MDGS, 0x07) to Mutex(MDGS, 0), "Fix Mutex with non-zero SyncLevel"</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WwFNREdTBw==
					</data>
					<key>Replace</key>
					<data>
					WwFNREdTAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change  Mutex (MCPU, 0x07) to Mutex(MCPU, 0), "Fix Mutex with non-zero SyncLevel"</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WwFNQ1BVBw==
					</data>
					<key>Replace</key>
					<data>
					WwFNQ1BVAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change  Mutex (BATM, 0x07) to Mutex(BATM, 0), "Fix Mutex with non-zero SyncLevel"</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WwFCQVRNBw==
					</data>
					<key>Replace</key>
					<data>
					WwFCQVRNAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change  Mutex (XDHK, 0x07) to Mutex(XDHK, 0), "Fix Mutex with non-zero SyncLevel"</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WwFYREhLBw==
					</data>
					<key>Replace</key>
					<data>
					WwFYREhLAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change  Mutex (MDGS, 0x07) to Mutex(MDGS, 0), "Fix Mutex with non-zero SyncLevel"</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WwFNREdTBw==
					</data>
					<key>Replace</key>
					<data>
					WwFNREdTAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change  Mutex (MWMI, 0x07) to Mutex(MWMI, 0), "Fix Mutex with non-zero SyncLevel"</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WwFNV01JBw==
					</data>
					<key>Replace</key>
					<data>
					WwFNV01JAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change  Mutex (BFWM, 0x07) to Mutex(BFWM, 0), "Fix Mutex with non-zero SyncLevel"</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WwFCRldNBw==
					</data>
					<key>Replace</key>
					<data>
					WwFCRldNAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change  Mutex (MSMI, 0x07) to Mutex(MSMI, 0), "Fix Mutex with non-zero SyncLevel"</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WwFNU01JBw==
					</data>
					<key>Replace</key>
					<data>
					WwFNU01JAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Chang Method (\_WAK, 1, NotSerialized) to \XWAK, optionally pair with SSDT-BATT</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1dBSwE=
					</data>
					<key>Replace</key>
					<data>
					WFdBSwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Chang Method (_L0D, 0, NotSerialized) to XL0D, optionally pair with SSDT-BATT</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0wwRAA=
					</data>
					<key>Replace</key>
					<data>
					WEwwRAA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Chang Method (GBST, 4, NotSerialized) to XBST, optionally pair with SSDT-BATT</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0JTVAQ=
					</data>
					<key>Replace</key>
					<data>
					WEJTVAQ=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Chang Method (GBIF, 3, NotSerialized) to XBIF, optionally pair with SSDT-BATT</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0JJRgM=
					</data>
					<key>Replace</key>
					<data>
					WEJJRgM=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ECOR to XCOR</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					RUNPUg==
					</data>
					<key>Replace</key>
					<data>
					WENPUg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EC0 to EC</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					RUMwXw==
					</data>
					<key>Replace</key>
					<data>
					RUNfXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>XHCI to XHC </string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WEhDSQ==
					</data>
					<key>Replace</key>
					<data>
					WEhDXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change PCI.VID to PCI.IGPU#1</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					UENJMFZJRF8=
					</data>
					<key>Replace</key>
					<data>
					UENJMElHUFU=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change PCI.VID to PCI.IGPU#2</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					VklEXwhfQURSDAAAAgA=
					</data>
					<key>Replace</key>
					<data>
					SUdQVQhfQURSDAAAAgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMQ==
					</data>
					<key>Replace</key>
					<data>
					RUgwMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SAT1 to SATA for E450C</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0FUMQ==
					</data>
					<key>Replace</key>
					<data>
					U0FUQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>HECI to IMEI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SEVDSQ==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_DSM to XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					WERTTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_OSI to XOSI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_PTS to ZPTS(shut)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1BUUwE=
					</data>
					<key>Replace</key>
					<data>
					WlBUUwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_PRW 0d04 to _PRW 00(HDEF IBGE )</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1BSVxIGAgoNCgQ=
					</data>
					<key>Replace</key>
					<data>
					X1BSVxIGAgoNCgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_WAK to ZWAK(wake)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1dBSwE=
					</data>
					<key>Replace</key>
					<data>
					WldBSwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_WAK09 to ZWAK09(wake)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1dBSwk=
					</data>
					<key>Replace</key>
					<data>
					WldBSwk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ESEL renamed ESEZ</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					RVNFTAig
					</data>
					<key>Replace</key>
					<data>
					RVNFWgig
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>disable SD(Return 0x01 to 0x00)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1JNVgCkCgE=
					</data>
					<key>Replace</key>
					<data>
					X1JNVgCkCgA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string> GPRW to XPRW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					FEAGVEFDSAk=
					</data>
					<key>Replace</key>
					<data>
					FEAGWEFDSAk=
					</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
			<key>SlpSmiAtWake</key>
			<true/>
			<key>SuspendOverride</key>
			<false/>
		</dict>
		<key>DisabledAML</key>
		<array>
			<string>SSDT.aml</string>
			<string>SSDT-XCPM.aml</string>
			<string>SSDT-PluginType1.aml</string>
		</array>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>#MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>BGRT</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>HaltEnabler</key>
		<false/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0</string>
		<key>Debug</key>
		<false/>
		<key>DefaultVolume</key>
		<string>Macintosh HD</string>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>2</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>EFILoginHiDPI</key>
		<integer>1</integer>
		<key>UIScale</key>
		<integer>1</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<true/>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x04128086</string>
		</dict>
		<key>LANInjection</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>
				BgAmCg==
				</data>
				<key>device-id</key>
				<data>
				EgQAAA==
				</data>
				<key>disable-external-gpu</key>
				<data>
				AQAAAA==
				</data>
				<key>enable-hdmi20</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con1-alldata</key>
				<data>
				AQUSAAAIAACHAAAA/wAAAAEAAABAAAAA
				</data>
				<key>framebuffer-con1-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-cursormem</key>
				<data>
				AACQAA==
				</data>
				<key>framebuffer-fbmem</key>
				<data>
				AACQAA==
				</data>
				<key>framebuffer-memorycount</key>
				<data>
				AgAAAA==
				</data>
				<key>framebuffer-patch-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-portcount</key>
				<data>
				AgAAAA==
				</data>
				<key>framebuffer-stolenmem</key>
				<data>
				AAAwAQ==
				</data>
				<key>framebuffer-unifiedmem</key>
				<data>
				AAAAgA==
				</data>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>HighCurrent</key>
			<false/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>CsmVideoDxe</string>
		<string>OsxAptioFix2Drv</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<false/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<false/>
		</dict>
		<key>Theme</key>
		<string>BGM</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>NvidiaSingle</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KernelCpu</key>
		<false/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelXCPM</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Second Stage Boot</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQAAdRc=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IOGraphicsFamily </string>
				<key>Replace</key>
				<data>
				AQAAdBc=
				</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RiV1VCUwNHgA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleBacklight</string>
				<key>Replace</key>
				<data>
				RiV1VHh4eHgA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AEFQUExFIFNTRAA=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>1536MB -&gt; 2048MB for HD4200_4400_4600 Mobile
</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQMDAwAAAAIAADABAABgAAAAAGA=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>
				AQMDAwAAAAIAADABAACQAAAAAIA=
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>04/09/2018</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP121.88Z.0176.B00.1804091715</string>
		<key>Board-ID</key>
		<string>Mac-E43C1C25D4880AD6</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x02</string>
		<key>ProductName</key>
		<string>MacBookPro12,1</string>
		<key>Trust</key>
		<true/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
		<key>NoCaches</key>
		<true/>
	</dict>
</dict>
</plist>
